/*  Propriedade para validação de Header transparante */

body {
  background-image: linear-gradient(
    to right bottom,
    rgba(68, 67, 134, 0.8),
    rgba(40, 129, 180, 0.8)
  );
  background-attachment: fixed;
}

/*  Classes de mudança de cor */

.color--dark-blue {
  background-color: #104fb9;
}

/* Classes principais */

.view-web {
  display: inline-flex;
}
.view-mobile {
  display: none;
}

.header {
  width: 100%;
  height: 65px;
}

.header__container {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.header__menu {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 0px 0px 0px 10px;
}

.box-logo {
  width: 156px;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  transform: scale(1.1);
}

.box-image {
  width: 100px;
  height: 100%;
}

.menu {
  width: 100%;
  display: inline-flex;
  padding: 0px 40px 0px 40px;
}

.navigation {
  width: 100%;
  height: 100%;
}

.list {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: inline-flex;
  justify-content: space-evenly;
}

.list__item {
  padding: 24px 10px;
  cursor: pointer;
}

.content-view {
  font-family: "Open Sans";
  color: #fff;
  display: flex;
  z-index: 3;
}

.content-view-login {
  font-family: "Open Sans";
  font-size: 14px;
  position: absolute;
  display: inline-block;
  position: relative;
  display: inline-block;
  z-index: 3;
}

.menu-login {
  width: 156px;
  height: 100%;
  padding: 0px 10px 0px 0px;
  margin: 0px 20px 0px 0px;
}

.list__login-item {
  padding: 24px 5px;
  cursor: pointer;
}

.division-items {
  height: 0px;
  padding: 3px 0px;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.large-letter {
  font-size: 14px;
  font-weight: 600;
  font-family: arial, helvetica, sans-serif;
}
.thin-letter {
  font-size: 12px;
  font-weight: 400;
  font-family: open sans, helvetica, sans-serif;
  margin: 3px 0px 0px 0px;
}

.header-color--active {
  background-color: #2060cc;
}

.box-user--logged {
  background-color: white;
  border-radius: 30px;
  padding: 5px;
}

/*  Ícone de celular no bloco de usuario - versao desktop */

.cellphone {
  width: 8px;
  height: 16px;
  border-color: white;
  border-style: solid;
  border-width: 3px 2px 2px 2px;
  border-radius: 3px;
  margin: -4px 11px;
}

.cellphone__content {
  display: flex;
  justify-content: center;
  margin: 12px 0px 0px 0px;
  border-style: solid;
  border-color: white;
  border-width: 2px 2px 0px 3px;
  height: 1.5px;
  width: 3px;
}

.login-button {
  color: #fff;
  width: 100%;
  border: 1px solid #fff;
  padding: 7px 5px 7px 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

.login-button:hover {
  background: rgba(0, 107, 220, 0.7);
}

/* Largura 1290px*/

@media only screen and (min-width: 1290px) {
  .header__container {
    width: 1280px;
    height: 100%;
  }
}

@media (max-width: 1118px) {
  .menu {
    padding: unset;
  }
}

/* Largura da tela 992px */
@media (max-width: 992px) {
  .view-web {
    display: none;
  }

  .view-mobile {
    display: block;
  }

  .header {
    background-color: #2060cc;
  }

  .header__container {
    height: 100%;
    background-color: transparent;
  }

  .header__menu {
    height: 100%;
  }

  .box-logo {
    height: 100%;
    background-color: transparent;
    padding: 18px 0px 0px 30px;
    justify-content: unset;
    transform: scale(1.2);
  }

  .navigation {
    width: 60%;
    position: fixed;
    top: 64px;
    background-color: #fff;
    min-height: 100%;
    z-index: 3;
    transition: 0.5s;
    overflow-y: auto;
    left: 0;
    text-align: unset;
    display: block;
  }

  .list {
    display: block;
    float: none;
    margin: 0 0 200px 0;
    width: 100%;
  }

  .list__item {
    padding: 0px 10px;
  }

  .list__item-user {
    padding: 5px 10px;
  }

  .list__image {
    padding: 0px 0px;
  }

  .content-view {
    font-size: 14px;
    color: #444;
    display: block;
    font-weight: 400;
    padding: 8px 0px 6px 0px;
    font-size: 15px;
    width: 100%;
  }

  .menu-overlay {
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 100%;
    top: 64px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
  }

  .user-detail {
    background-color: #f1f1f1;
  }

  .content-user {
    color: #2262cc;
    padding: 5px 0px 5px 0px;
    font-size: 12px;
    width: 100%;
    border: 1px solid #2262cc;
    border-radius: 2px;
    justify-content: center;
    display: flex;
    font-family: "Open Sans";
  }

  .content-user:active {
    color: #fff;
    background-color: #2262cc;
  }

  .img-app-icarros {
    background-image: url("./assets/app-icarros.gif");
    height: 73px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* Classes de animacao - sem @keyframes */

  .menu-icon {
    width: 30px;
    height: 20px;
    float: left;
    transform: rotate(0deg);
    cursor: pointer;
    margin: 19px 0px 0px 2px;
  }

  .line {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  .first-line {
    top: 0px;
  }

  .second-line {
    top: 8px;
  }

  .third-line {
    top: 16px;
  }

  .first-animation--active {
    top: 8px;
    transform: rotate(135deg);
  }

  .second-animation--active {
    opacity: 0;
    left: -60px;
  }

  .third-animation--active {
    top: 8px;
    transform: rotate(-135deg);
  }

  .first-animation--disable {
    top: 8px;
    transform: rotate(-135deg);
  }

  .second-animation--disable {
    opacity: 1;
    left: 0px;
  }

  .third-animation--disable {
    top: 8px;
    transform: rotate(135deg);
  }
}
